footer {
  background-color: rgb(170, 170, 170);
}
h2.info-head {
  text-align: center;
  background-color: bisque;
}
.info-main {
  text-align: left;
  font-size: 2rem;
}
a.info-link {
  color: blue;
}

img.demo-img {
  max-width: 100%;
  height: auto;
  border: 2px solid black;
  border-radius: 5px;
}
ol {
  font-size: 2rem;
}
